/* Default/Light Mode Colors */
:root {
    
    --primary-color: #0BA13D; /* Buttons */
    --background-color: #FFFDF8;
    --green-button-hover: #1FD45B;
    --red-button: #991b1b;

    /* Cycles */
    --workTime: rgb(34, 104, 188);
    --shortBreakTime: rgb(227, 131, 14);
    --longBreakTime: rgb(76, 189, 35);

    /* Cores dos textos */
    --text-default: #323232;
    --text-default-hover: #323232;
    
    --text-muted: #999fb1;
    --text-over-primary: #252525;
    
    /* Fonte texto */
    --font-logo: 'Orelega One', serif;
    --font-body: 'Roboto', sans-serif;

     /* Alertas (cores fixas, usadas para feedbacks visuais) */
    --success: #22c55e; /* Indica sucesso (verde) */
    --warning: #eab308; /* Indica alerta (amarelo) */
    --error: #991b1b; /* Indica erro (vermelho) */
    --info: #0ea5e9; /* Indica informação (azul) */

     /* Cores do Toastify (notificações) */
    --toastify-color-light: var(--text-default);
    --toastify-color-dark: var(--text-default);
    --toastify-color-info: var(--info);
    --toastify-color-success: var(--success);
    --toastify-color-warning: var(--warning);
    --toastify-color-error: var(--error);
    --toastify-text-color-light: #0a0f1a;
    --toastify-text-color-dark: #e6e9f0;
    --toastify-color-progress-light: var(--primary);
    --toastify-color-progress-dark: var(--primary);


}