
.logoLink {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0;
    text-decoration: none;
}

h1 {
    font-family: var(--font-logo);
    color: var(--text-logo);
}


/* Texto */
.logoLink:hover h1 {
    color:var(--text-logo-hover);
    transition: color 0.2s ease;
}

/* Preenchimento do path vermelho */
.logoLink:hover :global(.logo-fill) {
    fill: #ed2626d3;
    transition: all 0.2s ease-in-out ;
}

/* Contorno (stroke) do path verde */
.logoLink:hover :global(.logo-stroke-fill) {
    stroke: #0ba13dd5;
    transition: all 0.2s ease-in-out;
}

.logo-fill,
.logo-stroke-fill {
    transition: fill 0.2s ease, stroke 0.2s ease;
}