.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.4rem;
}

.footer a {
    display: flex;
    gap: 1rem;
    align-items: center;
    font-size: 1.4rem;
    color: var(--text-muted);
    text-decoration: none;
    text-align: center;
}

.footer a:hover {
    color: var(--text-default);
    text-decoration: underline;
}

/* Desktop */
.footer a:first-child {
    max-width: none;
    white-space: nowrap;
}

/* Mobile */
@media (max-width: 768px) {
    .footer a:first-child {
        white-space: normal;
        max-width: 220px;
    }
}